<%= render 'statusHeader' %>
<div class="row">
  <div class="col-md-12">
    <%= link_to fa_icon('plus', text: "New Status"), new_status_path, class: "btn btn-primary" %>
  </div>
</div>
<!--end div class="row"-->
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-sm table-striped table-hover">
        <tr class="table-dark text-center">
          <th>Sl.</th>
          <th>Name</th>
          <th>Is Active?</th>
          <th></th>
        </tr>
        <% if @statuses.empty? == false %>
          <% @statuses.sort_by(&:name).each_with_index do |status, i| %>
            <tr>
              <td class="text-center"><%= i + 1 %></td>
              <td><%= status.name %></td>
              <td class="text-center">
                <% if status.isActive? %>
                  <%= fa_icon('check', class: 'text-success')%>
                <% else %>
                  <%= fa_icon('times', class: 'text-danger')%>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to fa_icon('edit', text: 'Edit'), edit_status_path(status), :class=> "btn btn-sm btn-warning" %>
                <%= link_to fa_icon('trash', text: 'Delete'), status_path(status),
                                        method: :delete,
                                        data: { confirm: 'Are you sure you want delete?' },
                                        :class => "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan=4 class="text-center">
              No data found
            </td>
          </tr>
        <% end %>
        <!-- end if-else -->
      </table>
    </div>
  </div>
</div>
<!-- end div class="row"-->
